@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
    color: #333;
    font-family: "Courier New", "Courier", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    background: #42A7A1;
}

.card {
    position: absolute;
    top: 90px;
    left: 60px;
    height: 220px;
    width: 280px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.card .header {
    position: relative;
    height: 60px;
    width: 100%;
    background: #F1BA64;
    color: #fff;
}

.card .header .title {
    top: 12px;
    left: 15px;
}

.card .header .date {
    top: 30px;
    left: 15px;
}

.card .header .type {
    top: 12px;
    right: 15px;
}

.card .header .value {
    top: 30px;
    right: 15px;
}


.card .header .big {
    position: absolute;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.card .header .small {
    position: absolute;
    font-weight: 400;
    font-size: 12px;
}

.card .parameter {
    text-align: right;
    padding: 10px 0 14px 0;
}

.card .parameter span {
    position: relative;
    font-size: 9px;
    color: #606060;
    line-height: 13px;
    padding: 0 10px 0 25px;
}

.card .parameter span::before {
    position: absolute;
    left: 6px;
    top: 6px;
    display: block;
    content: "";
    width: 11px;
    height: 3px;
    border-radius: 3px;
}

.card .parameter .red::before {
    background: #FA7373;
}

.card .parameter .blue::before {
    background: #7BA2FF;
}